@media (max-width: 1024px) {
  .cart-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  h1 {
    margin: -30px;
    font-size: 56px;
    
  }
  h2{
      font-size: 41px;
      line-height: 1;
  }
}
